@font-face {
  font-family: 'DancingScript-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('DancingScript-Bold'),
    url('../fonts/DancingScript-Bold.woff2') format('woff2'),
    url('../fonts/DancingScript-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Dosis-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Dosis-Medium'),
    url('../fonts/Dosis-Medium.woff2') format('woff2'),
    url('../fonts/Dosis-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Dosis-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('Dosis-SemiBold'),
    url('../fonts/Dosis-SemiBold.woff2') format('woff2'),
    url('../fonts/Dosis-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Mukta-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('Mukta-SemiBold'),
    url('../fonts/Mukta-SemiBold.woff2') format('woff2'),
    url('../fonts/Mukta-SemiBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Mukta-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Mukta-Regular'),
    url('../fonts/Mukta-Regular.woff2') format('woff2'),
    url('../fonts/Mukta-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Mukta-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Mukta-Medium'),
    url('../fonts/Mukta-Medium.woff2') format('woff2'),
    url('../fonts/Mukta-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Mukta-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Mukta-Bold'),
    url('../fonts/Mukta-Bold.woff2') format('woff2'),
    url('../fonts/Mukta-Bold.woff') format('woff');
  font-display: swap;
}