$accent-color: #71B3C6;
$bg-col: #F1F6F9;
$default-color: #264A51;
$title-color: #264A51;
$text-color: #335E74;


%DancingScript-700 {
  font-family: 'DancingScript-Bold', cursive;
  font-weight: 700;
}

%OpenSans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}
%OpenSans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%Dosis-600 {
  font-family: 'Dosis-SemiBold', sans-serif;
  font-weight: 600;
}
%Dosis-500 {
  font-family: 'Dosis-Medium', sans-serif;
  font-weight: 500;
}

%Mukta-700 {
  font-family: 'Mukta-Bold', sans-serif;
  font-weight: 700;
}

%Mukta-400 {
  font-family: 'Mukta-Regular', sans-serif;
  font-weight: 400;
}

%Mukta-600 {
  font-family: 'Mukta-SemiBold', sans-serif;
  font-weight: 600;
}

%Mukta-500 {
  font-family: 'Mukta-Medium', sans-serif;
  font-weight: 500;
}





